#loading {
  text-align: center;
  display: block;
  position: fixed;
  width: 100%;
  top: 20%;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: underline;
  color: #ababab;
}

.nounderline {
  text-decoration: none;
}

.inline {
  display: inline
}

.black {
  color: black
}

.center-block {
  margin:auto;
  display:block;
}

.navbar {
  position: fixed;
  width: 100%;
  opacity: 1;
  background: rgb(255, 255, 255);
  z-index: 99;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.text-center {
  text-align: center
}

.light {
  color: #707070
}

.breaker {
  word-break: break-all;
}

.app {
  padding-top: 9rem
}

.user-id .fa {
  margin-right: .25rem;
}

.post {
  display: block;
  max-width: 65rem;
  border: 1px solid #bbb;
  border-radius: .5rem;
  margin: 3rem auto;
}

.post .content {
  display: block;
  margin: 2rem;
}

.icons .fa, .comment .icons .fa {
  color: #707070;
}

.icons .a {
  color: #707070;
}

.icons .user-id {
  display: inline;
}

.icons .not-first{
  margin-left: 1rem;
}

.post-page .user-id {
  display: inline
}

.comment-page .user-id {
  display: inline
}

.comment .icons {
  margin-bottom: 1rem;
}

.comment .icons .user-id {
  margin-right: 1rem;
}

.shifted {
  margin-left: 2rem;
}

.navbar {
  border-bottom: 1px solid #eee;
  display: block;
  height: 4.5em
}

.navbar .container {
  padding-top: 1em
}

.navbar .iconbar {
  margin-top: -5.2rem;
}

.navbar .iconbar .fa {
  margin-left: .5rem;
}

.settings .buttons .button {
  display: block;
  margin: 1rem auto;
  width: 80%
}
.homepage {
  text-align: center;
  max-width: 70rem;
  margin: auto;
}

.homepage li {
  text-decoration: none;
}

.itsok p, h5 {
  display: inline-block;
  margin-bottom: 1rem;
}

.itsok h5 {
  margin-right: 1rem;
}

@media (min-width: 400px) {
  /* larger than mobile */
  .settings .buttons {
    text-align: inherit;
  }
  .settings .buttons .not-first {
    margin: 0 1rem;
  }
  .settings .buttons .button {
    display: inline-block;
    width: auto;
  }
}
